<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SafiAir</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="home.html">
                                        <img class="logo" src="img/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a class="active" href="#">home</a></li>
                                            <li><a class="" href="#">Flight</a></l/li>
                                            <li><a href="#">Blog</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                                <div class="social_wrap d-flex align-items-center justify-content-end">
                                    <div class="number">
                                        <p>+21260000000000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Safi Air</h3>
                                <p> Find flight deals </p>
                                <a href="#" class="boxed-btn3">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- where_togo_area_start  -->
    <div class="where_togo_area">
        <div class="container">
            <div class="row align-items-center" style="margin-left: -100px;">
                <div class="col-lg-3">
                    <div  class="form_area">
                        <h3>Where you want to go?</h3>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="search_wrap">
                        <form action="/view" method="POST" class="form" style="display: flex;inline-size: max-content;">
                            <div class="input_field">
                                <input type="text" placeholder="Where to go?" name="Départ">
                            </div>
                            <div class="input_field">
                                <input id="datepicker" placeholder="TO" name="Arrivé"type="text"> 
                            </div>
                            <div class="input_field">
                                <input type="text" name="date_départ" placeholder="YYYY-MM-DD" min="2021-2-27" max="2021-12-31">
                            </div>
                            <div class="input_field">
                                <input id="appt-datepicker" type="time" name="heure_départ" step="2">
                            </div>

                            <div class="search_btn">
                                <button class="boxed-btn4 "  type="submit" >Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- where_togo_area_end  -->
    
    <!-- popular_destination_area_start  -->
    <div class="popular_destination_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Vol Details</h3>
                        
                    </div>
                </div>
                <table class="table table-bordered ">
                    <thead class="thead-light">
                        <th>Air Réf</th>
                        <th>Departure</th>
                        <th>Arrivé</th>
                        <th>l’heure départ</th>
                        <th>l’heure d’arrivé</th>
                        <th>date de départ</th>
                        <th>date d'Arrivé</th>
                        <th>Nombre de places</th>
                        <th>escales</th>
                        <th>Order</th>
                    </thead>
                    <tbody>
                        <% rows.forEach(function(row){ %>
                            <tr>
                                <th scope="row border"><%= row.id_airplane %>
                                </th>
                                <td>
                                    <%= row.Départ %>
                                </td>
                                <td>
                                    <%= row.Arrivé %>
                                </td>
                                <td>
                                    <%= row.heure_départ %>
                                </td>
                                <td>
                                    <%= row.heure_arrivé %>
                                </td>
                                <td>
                                    <%= row.date_départ %>
                                </td>
                                <td>
                                    <%= row.date_arrivé %>
                                </td>
                                <td>
                                    <%= row.num_place %>
                                </td>
                                <td>
                                    <% if(row.escale === 1){ %>
                                        <p>Escaled in <%= row.escale_place%></p>
                                    <% } else{ %>
                                        <p>Direct(No Escale)</p>
                                    <% } %>
                                </td>
                                <td class="center hidden-phone btn btn-light">
                                    <a href="/reservation/<%= row.id_airplane %>" class="btn btn-outline btn-sm">Order Ticket Now</a>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
        </div>
    </div>
    <!-- popular_destination_area_end  -->
   
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4 ">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img class="logo" src="img/footer_logo.png" alt="">
                                </a>
                            </div>
                            <p>Société SafiAir <br> 514 Avenue Zerktouni, Safi <br>
                                <a href="#">+2125280000</a> <br>
                                <a href="#">contact@SafiAir.com</a>
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                SafiAir
                            </h3>
                            <ul class="links">
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#"> Gallery</a></li>
                                <li><a href="#"> Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Popular destination
                            </h3>
                            <ul class="links double_links">
                                <li><a href="#">Tanger</a></li>
                                <li><a href="#">Casablanca</a></li>
                                <li><a href="#">Rabat</a></li>
                                <li><a href="#">Agadir</a></li>
                                <li><a href="#">Guelmim</a></li>
                                <li><a href="#">Laayoun</a></li>
                                <li><a href="#">Dakhla</a></li>
                                <li><a href="#">Europ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Instagram
                            </h3>
                            <div class="instagram_feed">
                                <div class="single_insta">
                                    <a href="#">
                                        <img src="img/instagram/1.png" alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="#">
                                        <img src="img/instagram/2.png" alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="#">
                                        <img src="img/instagram/3.png" alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="#">
                                        <img src="img/instagram/4.png" alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="#">
                                        <img src="img/instagram/5.png" alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="#">
                                        <img src="img/instagram/6.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>